{% extends 'base/base.html' %}

{% block content %}



<div class="col-md-8">
    {% if success %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        {{success}}
    </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Assign Period Time</h2>
            </div>
         <form class="form-horizontal" method="POST" action="">
            {% csrf_token %}
            <div class="box-body">
        
                <div class="form-group">
                    <label for="class" class="col-sm-2 control-label">Teacher with Course</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="class" id="class">
                            {% for each in assign %}
                            <option value={{each.id}}>{{each}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Day</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="sex" id="sex">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Time</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="sex" id="sex">
                            <option value="7:30 - 8:30">7:30 - 8:30</option>
                            <option value="8:30 - 9:30">8:30 - 9:30</option>
                            <option value="9:30 - 10:30">9:30 - 10:30</option>
                            <option value="11:00 - 11:50">11:00 - 11:50</option>
                            <option value="11:50 - 12:40">11:50 - 12:40</option>
                            <option value="12:40 - 1:30">12:40 - 1:30</option>
                            <option value="2:30 - 3:30">2:30 - 3:30</option>
                            <option value="3:30 - 4:30">3:30 - 4:30</option>
                            <option value="4:30 - 5:30">4:30 - 5:30</option>
                
                        </select>
                    </div>
                </div>
                
            <div class="box-footer">
                <a href="{% url 'department:teachers' %}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
            </div>
        
        </form>
    </div>
    {% else %}
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Assign Teacher</h2>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="POST" action="">
            {% csrf_token %}
            <div class="box-body">

                <div class="form-group">
                    <label for="class" class="col-sm-2 control-label">Class</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="class" id="class">
                            {% for each in class %}
                            <option value={{each.id}}>{{each}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="course" class="col-sm-2 control-label">Course</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="course" id="course">
                            {% for each in course %}
                            <option value={{each.id}}>{{each.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="teacher" class="col-sm-2 control-label">Teacher</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="teacher" id="teacher">
                            {% for each in teacher %}
                            <option value={{each.id}}>{{each.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{% url 'department:teachers' %}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
            </div>

        </form>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}



{% endblock %}