{% extends 'base/base.html' %}


{% load static %}
{% block style %}
<link rel="stylesheet"
    href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet"
    href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
{% endblock %}


{% block content %}
<div class="col-md-8">
    
    {% if success %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        {{success}}
    </div>
    {% endif %}

    {% if info %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> Alert!</h4>
        Info: {{info}}
    </div>
    {% endif %}

    {% if warning %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        {{warning}}
    </div>
    {% endif %}

    {% if danger %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        {{danger}}
    </div>
    {% endif %}

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Change password</h3>
        </div>    
        <form role="form" action="{% url 'home:changePassowrd' %}" method="POST">
            {% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Old password</label>
                    <input type="password" class="form-control" name="old_password" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New password</label>
                    <input type="password" class="form-control" name="new_pass" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Confirm new password</label>
                    <input type="password" class="form-control" name="con_new_pass" id="exampleInputPassword2" placeholder="Password">
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>

{% endblock %}

{% block script %}



{% endblock %}